*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100px;
}

.trybewarts-header-logo{
width: 100px;
}

.trybewarts-login {
  display: flex;
}

#container-main {
  display: flex;
  background-color: rgb(203, 223, 189)
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#name-input-div {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

#label-family {
  display: flex;
  flex-direction: column;
}

#label-content {
  display: flex;
  flex-direction: column;
}

#avaliation {
  display: flex;
  width: 700px;
}

#footer{
  display: flex;
  background-color: rgb(16, 42, 43);
  color: aliceblue  ;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
}